<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-param" content="_csrf_token" />
    <meta name="csrf-token" id="_csrf_token" content="<%= Plug.CSRFProtection.get_csrf_token %>" />
    <%= favicon() %>
    <title><%= site_title() %></title>
    <link rel="stylesheet" href="<%= static_url(@conn, "/css/admin_lte2.css") %>">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">    <%=
      case Application.get_env(:ex_admin, :head_template) do
        {layout, template} ->
          render layout, template, conn: @conn
        _ -> ""
      end
    %>

  </head>

  <% resource_label = ExAdmin.Utils.get_resource_label(@conn) |> String.downcase %>
  <% color = Application.get_env :ex_admin, :skin_color, :blue %>
  <body class="index admin_<%= resource_label %> active_admin logged_in skin-<%= color %> sidebar-mini hold-transition">
    <div class="wrapper">
      <%= render ExAdmin.AdminLte2.LayoutView, "header.html", conn: @conn, scope_counts: assigns[:scope_counts] %>
      <div class="content-wrapper">
        <%= render ExAdmin.AdminLte2.LayoutView, "title_bar.html", conn: @conn, resource: @resource %>

        <section class="content">
          <%
            {sidebars?, _klass} = check_for_sidebars(@conn, @filters, @defn)
            main_width = if sidebars?, do: 9, else: 12
          %>
          <div class="row">
            <div class="col-lg-<%= main_width %>">
              <%= ExAdmin.AdminLte2.LayoutView.flashes(@conn) %>
              <%= render @view_module, @view_template, assigns %>
            </div>
            <%= if sidebars? do %>
              <div class="col-lg-3 sidebar_section">
                <%= ExAdmin.Filter.filter_view(@conn, @filters, @defn) %>
                <%= ExAdmin.Sidebar.sidebar_view(@conn, @defn, @resource) %>
              </div>
            <% end %>
          </div>
        </section>
      </div>
      <footer id="footer" class="main-footer" style="font-size: 90%">
        <%= ExAdmin.LayoutView.footer_content %>
      </footer>
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
    </div>
    <!-- Bootstrap 3.3.5 -->
    <script src='<%= static_url(@conn, "/js/admin_lte2.js") %>'></script>
  </body>
</html>
